body {
    text-align: center;
    background-image: url('stripesAndStars.gif');
}

canvas {

}

#head {
    /*width: 60%;*/
    background-color: #30b9b7;
    /*margin: 0px auto;*/
}

#leftSidebar {
    background-color: aliceblue;
    color: black;
}


#score {
    background-color: aliceblue;
    color: black;
}

#formContainer {
    background-color: white;
}

.navbar {
    color: white;
    height: 82px;
}
